<h1><%= @soup.name %></h1>

Here are some awesome soups

<% if @soup.featured? %>

<p>This deliscious soup is featured this month</p>

<% else %>

<p>This soup is not in season</p>

<% end %>

<p><%= link_to "toogle Featured", toggle_featured_path(@soup)%></p>


<p><%= link_to "back to soup categories", categories_path %></p>